spring:
  jpa:
#    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5432/payments
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 6
  messages:
    basename: exceptions
card-number-length: 16
