spring:
  jpa:
#    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5432/payments
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 6
  messages:
    basename: exceptions
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8100/realms/training
      client:
        registration:
          keycloak:
            client-id: payments
            scope:
              - openid
        provider:
          keycloak:
            issuer-uri: http://localhost:8100/realms/training
card-number-length: 16
